<% include header %>
	
    <div>
        <h3 class="ui header">Bienvenue sur le Système d'administration 
        des Services et Devices IOT et des Souscriptions ORION de la MNCA<br/><br/>
        </h3>
        <h4>

    <% if (locals.userinfo) { %>

        Vous êtes actuellement authentifié à l'IDM avec l'utilisateur  '<i><%= userinfo.username %></i>' 
        (email : '<i><%= userinfo.email %></i></i>')

    <% } else { %>

    	Veuillez vous authentifier à l'IDM via le bouton de Login.

    <% } %>
		</h4>
    </div>

<% include footer %>